.parent {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.child {
  width: 350px;
}
.loginForm {
  display: flex;
  flex-direction: column;
  padding: 20px 35px;
  border: 1px solid var(--lightgrey);
  align-items: center;

  img {
    width: 150px;
    margin: 15px 0;
  }

  input {
    width: 100%;
    border: 1px solid var(--lightgrey);
    height: 40px;
    margin-bottom: 10px;
    padding: 10px;
  }

  button {
    width: 100%;
    border: none;
    outline: none;
    padding: 7px 0;
    color: var(--white);
    background-color: var(--blue);
    border-radius: 4px;
    font-weight: 600;

    &:disabled {
      background-color: var(--lightblue);
    }
  }

  .loginFB {
    display: flex;
    align-items: center;

    img {
      width: 15px;
      margin: 20px 0;
      margin-right: 10px;
    }

    p {
      font-size: 14px;
      font-weight: 600;
      color: var(--facebook-blue);
    }
  }

  p {
    font-size: 14px;
    color: var(--facebook-blue);
  }
}

.bottom {
  padding: 20px;
  display: grid;
  place-items: center;
  border: var(--border);
  margin-top: 10px;

  p {
    font-size: 14px;

    a {
      color: var(--blue);
      text-decoration: none;
      font-weight: 600;
    }
  }
}
