.menu {
  width: 190px;
  position: absolute;
  right: -10px;
  border-radius: 10px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.option {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.2s ease-in;

  p {
    margin-left: 10px;
    font-size: 14px;
  }
}
.logout {
  padding: 10px 20px;
  font-size: 14px;
  transition: background-color 0.2s ease-in;
}
.option:hover,
.logout:hover {
  background-color: #d3d3d33b;
}
