.header {
  width: 100%;
  border-bottom: 1px solid lightgray;
}
.header__container {
  max-width: 950px;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.header__image {
  object-fit: contain;
  width: 100px;
}
.header__search {
  display: flex;
  align-items: center;
}
