.parent {
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid lightgray;
  background-color: white;
  z-index: 1;
}
.container {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.logo {
  object-fit: cover;
  width: 100px;
  transform: translateY(5px);
}
.search {
  display: flex;
  align-items: center;
}
.right > nav {
  display: flex;
  height: 100%;
  align-items: center;
}
.iconWrapper {
  margin-left: 20px;
}
