.parent {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  position: relative;
  border-bottom: var(--border);
  height: 60px;
  padding: 0 15px;

  div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

    h4 {
      margin-right: 10px;
    }
  }
}

.people {
  flex: 1;
  overflow-y: scroll;

  .userSelector {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px 20px;

    img {
      width: 60px;
      height: 60px;
      object-fit: cover;
      border-radius: 999px;
      margin-right: 10px;
    }

    .userLabel {
      flex: 1;
      display: flex;
      flex-direction: column;

      p {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
}
