.post {
  margin-bottom: 20px;
  border: 1px solid lightgrey;
}
.header {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.headerInfo {
  display: flex;
  align-items: center;
}
.headerInfoUserName {
  margin-left: 15px;
}
.headerImageContainer {
  overflow: hidden;
  width: 100%;
  height: 500px;
  border: 1px solid lightgray 0;
}
.headerImage {
  object-fit: contain;

  width: 100%;
}
.footer {
  width: 100%;
}
.footerOptions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footerOptionsReactions {
  display: flex;
  align-items: center;
}
.footerOptionsReactions > * {
  margin: 5px;
}
