* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: white;
  --grey: grey;
  --lightgrey: lightgrey;
  --blue: #0095f6;
}

.app {
  height: 100vh;
  background-color: #fafafa;
}

.app__mainBody {
  width: 100%;
}
.app__mainBodyContainer {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
}
.app__mainBodyPosts {
  width: 70%;
}
.app__mainBodyWidgets {
  width: 30%;
}
