body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: white;
  --grey: grey;
  --lightgrey: lightgrey;
  --blue: #0095f6;
  --lightblue: #8fc9f0;
  --facebook-blue: #4267b2;

  --border: 1px solid var(--lightgrey);
}

.app {
  height: 100vh;
  background-color: #fafafa;
}

.app__mainBody {
  width: 100%;
}
.app__mainBodyContainer {
  max-width: 950px;
  margin: 0 auto;
  display: flex;
}
.app__mainBodyPosts {
  width: 70%;
}
.app__mainBodyWidgets {
  width: 30%;
}
